<div class="whole-qa">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-2"></div>
            <div style="text-align:center;background-color: #f0f0f0;" class="col-lg-8">
                <h1
                    style="margin-top:3.4rem;font-family: 'Montserrat-Black';color:black;font-weight: 800;font-size: 1.5rem;text-align: center;">
                    Tech House</h1>
                <h3 style="margin-top:2rem;
                           padding-left:2%;
                           padding-right: 2%;
                           color:black;
                           font-family: 'Montserrat';
                           font-weight:50;
                           font-size: 1.2rem;
                           text-align: center;
                           align-content: center;">
                    Over 13 Years of bringing authentic sales of Apple,Spigen and Bose Product all over India at best
                    price
                </h3>
                <div style="margin-top: 5vh;margin-bottom:5vh;text-align: center;" class="row">
                    <div class="col-lg-4 col-4">
                        <div class="qa-box">
                            <span class="pi pi-truck"
                                style="align-content: center;font-size: 5vw;color: #1c1c1c;"></span>
                            <br>
                            <h3 class="qa-title">Fast, no‑contact delivery</h3>
                            <br>
                            <h4 class="qa-desc">With convenient delivery and pickup methods,
                                we’re making it
                                easier and safer to shop at
                                Tech House.</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4">

                        <div class="qa-box">
                            <span class="pi pi-wrench"
                                style="align-content: center;font-size: 5vw;color:  #1c1c1c;"></span>
                            <br>
                            <h3 class="qa-title">Expertized Service</h3>
                            <br>
                            <h4 class="qa-desc">We do services for all apple products and other premium
                                brands with
                                genuine products.
                            </h4>
                        </div>


                    </div>

                    <div class="col-lg-4 col-4">
                        <div class="qa-box">
                            <span class="pi pi-shield"
                                style="align-content: center;font-size: 5vw;color:  #1c1c1c;"></span>
                            <br>
                            <h3 class="qa-title">Extended Warranty</h3>

                            <br>
                            <h4 class="qa-desc"> We do offer Extended Warranty available for all apple and premium
                                products under
                                warranty.</h4>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</div>