<footer class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap md:text-left text-center order-first">
            <div style="align-content: center;text-align: center;font-size: 3rem;font-family: 'Montserrat-Black';color: #575757;"
                class="lg:w-1/4 md:w-1/2 w-full px-4">
                <span class=" title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    Tech House
                </span>
            </div>
            <div style="margin-top: 1%;margin-left: 5%;" class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 style="text-align: start;"
                    class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">APPLE</h2>
                <nav style="text-align: start;" class="list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">MAC</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">IPHONE</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">IPAD</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">AIRPODS</a>
                    </li>
                </nav>
            </div>
            <div style="margin-top: 1%;margin-left: 5%" class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 style="text-align: start;"
                    class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">OTHER PREMIUM PRODUCTS
                </h2>
                <nav style="text-align: start;" class="list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">ANDROID</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">WATCHES</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">CASES</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">ACCESSORIES</a>
                    </li>
                </nav>
            </div>
            <!-- <div style="margin-top: 1%;" class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">First Link</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">Second Link</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">Third Link</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
                    </li>
                </nav>
            </div> -->

        </div>
    </div>
    <div style="background-color: #F0F0F0;">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">

            <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2024 Tech House

            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <!-- <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg> -->
                    <span class="pi pi-whatsapp" style="font-size: 2.6vh;"></span>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>

            </span>
        </div>
    </div>
</footer>